{{- /*gotype: github.com/linusback/aoc2024/pkg/generate.YearData*/ -}}
package internal

import (
    {{range .Imports}}{{.}}{{end}}
	"{{.ModName}}/pkg/errorsx"
)

func Solve(year, day string) (solution1, solution2 string, err error) {
	switch year {
	{{range  .Cases}}{{.}}{{end}}
	default:
		err = errorsx.NewSolverError(year, day, errorsx.ErrYearNotCreated)
		return
	}
}
